@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff8000;
  --color-secondary: teal;
}
nav a.active {
  color: #ff8000;
  font-weight: 700;
}

section ul a.active {
  color: #ff8000;
  background-color: gainsboro;
}
